.selected {
	color: black;
	background: red;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
}
.check {
	color: black;
	background: #006400;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
}
.recheck {
	color: black;
	background: #FFFF00;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
.timeout {
	color: white;
	background: black;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.0);
}

.outrange {
	color: white;
	background: orange;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
ul {
	float: left;
	list-style-type: none;
	padding-right: 20px;
	padding-bottom: 20px;
	/*width: 30%;
	 height: 20%;*/
}
img {
	width: 50px;
	height: 50px;
}
th {
	border: 0pt;
	text-align: center;
}
table {
	border-style: solid;
	border-width: 5px;
	width: 600px;
	height: 470px;
	background: rgba(212,228,239,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
h2 {
	font-size: 55px; /*35*/
	font-weight: bold;
	margin top: 0px;
	margin-bottom: 0px;
}
.bs-example {
	margin: 20px;
}
body {
	background-color: #87CEFA;
}
#menufijo {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: -88;
}
#menufijo img {
	width: 150px;
	height: 150px;
}
.to {
	font-size: 3.5em;
}

div#ok {
	text-align: center;
	width: 180px;
	height: 60px;
	padding: 12px;
	background: rgba(212,228,239,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
	font-size: 25px;
	font-style: bold;
	line-height: 1.4;
	position: fixed;
	bottom: 20px;
	right: 200px;
	z-index: -88;
}
div#ping {
	text-align: center;
	color: white;
	width: 180px;
	height: 60px;
	padding: 12px;
	font-size: 25px;
	font-style: bold;
	background-color: #006400;
	line-height: 1.4;
	position: fixed;
	bottom: 20px;
	right: 400px;
	z-index: -88;
}
div#reping {
	text-align: center;
	color: black;
	width: 180px;
	height: 60px;
	padding: 12px;
	font-size: 25px;
	font-style: bold;
	background-color: #FFFF00;
	line-height: 1.4;
	position: fixed;
	bottom: 20px;
	right: 600px;
	z-index: -88;
}
div#slow {
	text-align: center;
	color: white;
	width: 230px;
	height: 60px;
	padding: 12px;
	font-size: 25px;
	font-style: bold;
	background-color: orange;
	line-height: 1.4;
	position: fixed;
	bottom: 20px;
	right: 800px;
	z-index: -88;
}
div#outline {
	text-align: center;
	color: white;
	width: 230px;
	height: 60px;
	padding: 12px;
	font-size: 25px;
	font-style: bold;
	background-color: red;
	line-height: 1.4;
	position: fixed;
	bottom: 20px;
	right: 1050px;
	z-index: -88;
}
div#down {
	text-align: center;
	color: white;
	width: 250px;
	height: 60px;
	padding: 12px;
	font-size: 25px;
	font-style: bold;
	background-color: #000000;
	line-height: 1.4;
	position: fixed;
	bottom: 20px;
	right: 1300px;
	z-index: -88;
}